
{% extends 'base.html' %}  
{% block content %}
{% load static%}
    <body>
    
    <div class="container-fluid banner1">
        
        <div class="row">
        <div class="col-md-12 banner1-color">
            <h1 class="h"><b>About Us</b></h1>
             <h3 class="hi ms-4 ">Home | About Us</h3>
            </div>
        </div> 
        </div>
        
        
        <div class="container">
        
        <div class="row">
            
            <div class="col-md-6">
            <img src={%static "pic/im.jpg" %} height="280px" width="100%">
            
            </div>
            
            <div class="col-md-6 mt-5 ">
            <h4><b>Welcome to NeuroWorld</b></h4>
                <h2><b>Best Care for Your Neuro Problems</b></h2>
                
                <p>steem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing drawing. Apartments frequently or motionless on reasonable projecting expression.</p>

                <p>Apartments frequently or motionless.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate.</p>
                    <p>Voluptatem quia voluptas sit aspernatur.</p>
            </div>
        </div>
        
        </div>
    </body>
    
{% endblock %}