{% load static %}

<html>
<head><title>Contact Us</title>
<link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{%static 'css/icofont.min.css' %}" rel="stylesheet">
<link href="{%static 'css/mystylesheet.css' %}" rel="stylesheet">
<link href="{%static 'css/css2.css' %}" rel="stylesheet">
</head>
<body>

    <div class="container-fluid bg-dark text-white p-4" >
    
    <div class="container">
        
        <div class="row" style="color: lightgray">
            <div class="col-md-3">
                <h2><img src="{%static "pic/logo1.jpg" %} " height="60px" width='60px' style='margin-left: 68px'>NEUROWORLD</h2>
                <p>brain diseases symptoms
                    causes, therapies, drugs and medicines</p>
            <p> <i class='icofont-facebook ms-2 text-lightgray bg-gray rounded p-2'></i>
                    
                    <i class='icofont-instagram ms-2 text-lightgray bg-gray  rounded p-2'></i>
                    
                    <i class='icofont-twitter ms-2 text-lightgray bg-gray  rounded p-2'></i>
                    </p>
            </div>
            
            <div class="col-md-3">
                <h3><b>Departments</b></h3><br/>
                <p>Brain tumor Detection</p>
                <p>MRI</p>
                <P>CONSULTATION</P>
                <P>MEDICINE</P>
            </div>
        
            <div class="col-md-3">
                <h3><b>Useful Links</b></h3><br/>
                <p><a href="about.html" style='text-decoration: none; color:lightgray'>About</a></p>
                <p><a href="Blog.html" style='text-decoration: none; color:lightgray'>Blog</a></p>
                <P><a href="appointment.html" style='text-decoration: none; color:lightgray'>Appointment</a></P>
                <P><a href="contactus.html" style='text-decoration: none; color:lightgray'>Contact</a></P>
            </div>
        
            <div class="col-md-3">
                <h3><b>Address</b></h3><br/>
                <p> <i class='icofont-location-pin me-2 text-lightgray bg-gray rounded p-2'></i>Ranjit Avenue, main road near, <span style="margin-left: 39px">Hotel Holiday INN</span></p>
                <p><i class='icofont-phone me-2 text-lightgray bg-gray rounded p-2'></i>+91-8054068839</p>
                <P><i class='icofont-email me-2 text-lightgray bg-gray rounded p-2'></i>neurcare@contact.com</P>
                
            </div>
        
        
        </div>
        </div>
        
    </div>
    
</body>