{% extends 'base.html' %}
{% block content %}
{% load static%}
<style>
    *{font-family: 'Times New Roman', Times, serif;}
</style>
<!-- <link href="{%static 'css/mystylesheet.css' %}" rel="stylesheet">
<link href="{%static 'css/css2.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
<link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->


<!-- <html>

<head><title>front page</title>
    
<link href="{%static "icofont/icofont.min.css" %}" rel="stylesheet">

<link href="{%static "css/css2.css" %}" rel="stylesheet">
   
    </head>
    
    <body>
        <div class="container-fluid">
        <div class="container">
        <div class="row">
        <div class="col-md-6 mt-4">
            
             <p> <i class='icofont-facebook icofont-1x ms-2 text-darkgray rounded p-2'style="color: midnightblue"></i>
                    
                    <i class='icofont-instagram icofont-1x ms-2 text-darkgrey bg-skyblue  rounded p-2' style="color: #5DB2FF"></i>
                    
                    <i class='icofont-twitter icofont-1x ms-2 text-darkgray rounded p-2' style="color: #5DB2FF"></i>
                    </p>
            </div>
        <div class="col-md-6 text-right mt-4">
            
            <p><i class='icofont-email ms-2 text-darkgray  rounded p-2'style="color: #5DB2FF"></i><span class="text-secondary">info@neurocare.com</span>
            
                <i class='icofont-phone ms-2 text-darkgray  rounded p-2' style="color: #5DB2FF; "></i><span class="text-secondary">+1(302)6353426</span></p>
            
            </div>
            
            
        </div>
        </div>
        </div> 
       
        
        
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: white">
  <a class="navbar-brand" href="#"><img src="pic/logo.png" height="70px" width="200px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item active">
          <a class="nav-link" href="#"><b>Home</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><b>Department</b></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><b>Blog</b> </a>
      </li>
        
      <li class="nav-item">
          <a class="nav-link" href="#"><b>Pages</b> </a>
      </li>
        
      <li class="nav-item">
          <a class="nav-link" href="#"><b>Doctors</b> </a>
          
      <li class="nav-item" style="color:#727272">
          <a class="nav-link" href="#"><b>Contact</b> </a>
      </li>
        
        <li style="margin-left: 100px">
        <input type="submit" class="btn btn-outline-light btn-md " name="save" value="Make an Appointment" style="background-color: #009DFF; font-family: 'Poppins', sans-serif;padding-left: 20px;padding-right: 20px;color: white">
                
        </li>
      
    </ul>
  </div>
</nav>
         -->
<!----->
<div class="container-fluid">
    <div class="row" style="background-image: url({%static 'pic/ind.png' %});background-size: cover; padding-top:
        100px; padding-bottom: 100px">
        <div class="col-md-1"></div>
        <div class="col-md-5">

            <h1><b>
                    <p style="font-size: 80px;font-family:'Poppins', sans-serif ">Health Care</p>
                </b></h1>
            <h1>
                <p style="font-size: 60px;font-family:'Poppins', sans-serif ">For Your Family</p>
            </h1>
            <p class="text-secondary">In Healthcare Sector, service excellence is the facility of the hospital as
                healthcare service provider to consistently</p>

            <button class="btn btn-outline-light btn-lg  "
                style="background-color: #009DFF;font-family: 'Poppins', sans-serif; padding-top: 15px;padding-bottom: 15px; color: white">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Check our Services
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>

        </div>
        <div class="col-md-6"></div>
    </div>
</div>

<div class="container-fluid " style="background: #83c4ff;font-family:'Poppins', sans-serif ">

    <div class="container">

        <div class="row text-light">

            <div class="col-md-4 pt-5 pb-5">
                <i class='icofont-email icofont-3x ms-2 text-darkgray rounded p-2' style="color: white"></i>
                <h2 class="pt-3">Hospitals</h2>
                <p>Clinical excellence must be the priority for any health care service provider.</p><br />

                <a href="{% url 'nav_hospitals' %}" class="btn bbs btn-outline-light btn-md " name="save" value=""
                    style="font-family: 'Poppins', sans-serif">Explore Hospitals</a>

            </div>

            <div class="col-md-4 pt-5 pb-5" style="background-color:#5DB2FF">
                <i class='icofont-heart-beat-alt icofont-3x ms-2 text-darkgray  rounded p-2' style="color: white"></i>
                <h2 class="pt-3">Emergency Care</h2>
                <p>Clinical excellence must be the priority for any health care service provider.</p><br />

                <input type="submit" class="btn bbs btn-outline-light btn-md " name="save" value="+10(302)673663"
                    style="font-family: 'Poppins', sans-serif">

            </div>


            <div class="col-md-4 pt-5 pb-5">
                <i class='icofont-surgeon-alt icofont-3x ms-2 text-darkgray  rounded p-2' style="color: white"></i>
                <h2 class="pt-3">Diagonsis</h2>
                <p>Clinical excellence must be the priority for any health care service provider.</p><br />

                <a href="{% url 'nav_labs' %}" class="btn bbs btn-outline-light btn-md " name="save" value=""
                    style="font-family: 'Poppins', sans-serif">Explore Labs</a>

            </div>


        </div>



    </div>


</div>

<div class="container-fluid">
    <div class="container pt-4">

        <div class="row pt-5">

            <div class="col-md-6">
                <img src="{%static 'pic/im.jpg' %}" height="400px" width='100%'>
            </div>

            <div class="col-md-1 ">
            </div>


            <div class="col-md-5 pt-2">
                <h4 style="color: ;"><span class="pb-2"
                        style="border-bottom:3px solid #83c4ff; font-size: 25px !important;
                         font-family: 'Times New Roman', Times, serif !important; ">Welc</span>ome to NeuroCare Center</h4><br />


                <h1 style="font-family:'Poppins', sans-serif ">Best Care for your Good Health</h1><br />

                <p class="text-secondary" style="line-height: 30px; font-size: 18px">Mental and physical health are equally important components of overall health.  
                    Mental illness, especially depression, increases the risk for many types of physical health problems, particularly long-lasting conditions like stroke, type 2 diabetes, and heart disease. 
                    Similarly, the presence of chronic conditions can increase the risk for mental illness.</p><br />

                <p class="text-secondary">24/7 we here for you,
                    We keep your health secrets,
                    Feel just like your home</p>
                <p class="text-secondary"> Your life in better hands</p>
                <p class="text-secondary">Making communities healthier,
                    Let’s Cure together</p><br />


                <input type="submit" class="btn bb btn-outline-light btn-md " name="save" value="Make an Appointment"
                    style=" font-family: 'Poppins', sans-serif"><br /><br /><br /><br /><br /><br /><br /><br />

            </div>

        </div>

        <div class="row">



            <div class="col-md-12 text-center">

                <h3 style="font-family:'Poppins', sans-serif ">Our Ho<span class="pb-3"
                        style="border-bottom:2px solid #83c4ff;font-size: 38px !important;
                         font-family: 'Times New Roman', Times, serif !important;">spi</span>tals</h3><br />
                         

                <center>
                    <p class="text-secondary"
                        style="line-height: 30px;font-size: 18px;font-family:'Poppins', sans-serif;">Power to heal,The spirit to care,Passionate to help
                        With us, you feel secure
                        
                        <br />We do extraordinary care,Feel for Patients,
                        It’s always personal
                        </p>
                </center>
            </div>


        </div>

        <div class="row pt-5" id="Department">
            {% for x in hosp %}
            <div class="col-md-4">

                <div class="card" style="width: 18rem;">
                    <div class="inner1">
                        <img src="{{x.profile_image.url}}" height="225px" width="100%" class="card-img-top"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{x.name}}</h5>
                        <p class="card-text text-secondary">{{x.description|truncatechars:100}}</p>
                        <a href="{% url 'hospitaldetail' id=x.id %}" class="btn bb btn-primary">Learn More</a>
                    </div>
                </div>

            </div>
            
            {% endfor %}
            <hr>


            <!-- <div class="col-md-4">

                <div class="card" style="width: 20rem;">
                    <div class="inner1">
                        <img src="{%static "pic/card.jpg" %}" height="225px" width="100%" class="card-img-top"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Surgery Services</h5>
                        <p class="card-text text-secondary">Esteem spirit temper too say adieus who direct esteem..</p>
                        <a href="#" class="btn bb btn-primary">Learn More</a>
                    </div>
                </div>

            </div>


            <div class="col-md-4">

                <div class="card" style="width: 20rem;">
                    <div class="inner1">
                        <img src="{%static "pic/card.jpg" %}" height="225px" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Surgery Services</h5>
                        <p class="card-text text-secondary">Esteem spirit temper too say adieus who direct esteem..</p>
                        <a href="#" class="btn bb btn-primary">Learn More</a>
                    </div>
                </div>

            </div> -->
        </div>



        <!-- <div class="row pt-5 " style="padding-bottom: 60px">

            <div class="col-md-4">

                <div class="card" style="width: 20rem;">
                    <div class="inner1">
                        <img src="{%static "pic/card.jpg" %}" height="225px" width="100%" class="card-img-top"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Surgery Services</h5>
                        <p class="card-text text-secondary">Esteem spirit temper too say adieus who direct esteem.</p>
                        <a href="#" class="btn bb1 btn-primary">Learn More</a>
                    </div>
                </div>

            </div>


            <div class="col-md-4">

                <div class="card" style="width: 20rem;">
                    <div class="inner1">
                        <img src="{%static "pic/card.jpg" %}" height="225px" width="100%" class="card-img-top"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Surgery Services</h5>
                        <p class="card-text text-secondary">Esteem spirit temper too say adieus who direct esteem..</p>
                        <a href="#" class="btn bb1 btn-primary">Learn More</a>
                    </div>
                </div>

            </div>


            <div class="col-md-4">

                <div class="card" style="width: 20rem;">
                    <div class="inner1">
                        <img src="{%static "pic/card.jpg" %}" height="225px" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Surgery Services</h5>
                        <p class="card-text text-secondary">Esteem spirit temper too say adieus who direct esteem..</p>
                        <a href="#" class="btn bb1 btn-primary">Learn More</a>

                    </div>
                </div>

            </div>
        </div> -->



    </div>



    <!-- testimonial slider -->

    <div class="row">
        <div class="col-md-12 p-0">
            <div id="testimonial-slider" class="owl-carousel">
                <div style=" background-image: url({%static 'pic/back.jpg' %}) ; background-size: cover">
                    <div class=" testimonial">
                    <div>

                        <p class="description" style="line-height: 30px">
                            <i class='icofont-quote-right icofont-2x ms-2 text-white  rounded p-2'
                                style="color: white"></i><br /><br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /> Sed malesuada vulputate nisi
                            in fermentum.<br />Vivamus ac libero quis nisi auctor pulvinar.
                        </p><br /><br />
                        <center>
                            <h3 class="title">Arsh<span class="pt-3" style="border-top:2px solid white;">deep
                                    Si</span>ngh</h3>
                            <small class="post">- </small>
                        </center>
                    </div>
                </div>
            </div>


            <div style="background-image: url({%static 'pic/slider.jpg' %});background-size: cover ">
                <div class="testimonial">

                    <div>
                        <p class="description" style="line-height: 30px">
                            <i class='icofont-quote-right icofont-2x ms-2 text-white  rounded p-2'
                                style="color: white"></i><br /><br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /> Sed malesuada vulputate nisi
                            in fermentum.<br />Vivamus ac libero quis nisi auctor pulvinar.
                        </p><br /><br />
                        <center>
                            <h3 class="title">Arsh<span class="pt-3" style="border-top:2px solid white;">deep
                                    Si</span>ngh</h3>
                            <small class="post">- </small>
                        </center>
                    </div>
                </div>
            </div>

            <div style=" background-image: url({%static "pic/back.jpg" %} );background-size: cover; ">
                    <div class=" testimonial"
                style="background-color: rgba(0,0,0,0.2);padding-top: 130px; padding-bottom: 130px;">


                <p class="description" style="line-height: 30px">
                    <i class='icofont-quote-right icofont-2x ms-2 text-white  rounded p-2'
                        style="color: white"></i><br /><br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /> Sed malesuada vulputate nisi in
                    fermentum.<br />Vivamus ac libero quis nisi auctor pulvinar.
                </p><br /><br />
                <center>
                    <h3 class="title">Arsh<span class="pt-3" style="border-top:2px solid white;">deep Si</span>ngh</h3>
                    <small class="post">- </small>
                </center>
            </div>
        </div>
    </div>
</div>

<!-- testimonial slider  ends-->








<div class="container ">

    <div class="row">

        <div class="col-md-4 pt-3">

            <h4 style="font-family:'Poppins', sans-serif;color: black">
                <center><a href="{% url 'nav_labs'%}"  class="btn bb btn-primary rounded-pill btn-lg" style="font-size: 30px;"> Lab Services </a></center>
            </h4>

        </div>

        <div class="col-md-4 pt-3">

            <h4 style="font-family:'Poppins', sans-serif;color: black">
                <center><a href="{% url 'nav_doctors'%}"  class="btn bb btn-primary rounded-pill btn-lg" style="font-size: 30px;">Qualified Doctors </a></center>
            </h4>

        </div>

        <div class="col-md-4 pt-3">

            <h4 style="font-family:'Poppins', sans-serif;color: black">
                <center><a href="{% url 'nav_hospitals'%}"  class="btn bb btn-primary rounded-pill btn-lg" style="font-size: 30px;"> Our Hospitals </a></center>
            </h4>

        </div>


    </div>
    </div>
<div class="container pl-5 pr-5">
    <div class="row pt-5">

        <div class="col-md-6 pt-5">

            <i class='icofont-first-aid icofont-3x ms-2 text-white bg-blue  rounded-circle p-2'
                style="background-color:#5DB2FF "></i><br /><br /><br />

            <h4>
                <p style="font-family: 'Poppins', sans-serif;color: black"><b>Leading edge care for Your family</b></p>
            </h4><br />
            <p class="text-secondary" ;style="font-family:'Poppins', sans-serif;color: black;font-size: 15px; ">Esteem
                spirit temper too say adieus who direct esteem. It esteems luckily picture placing drawing. Apartments
                frequently or motionless on reasonable projecting expression.</p>
        </div>

        <div class="col-md-6 pt-5">

            <img src="{%static 'pic/ind3.jpg' %}" width=100% height="300px">
        </div>
    </div>
    </div>
    <br /><br />
    <hr>
    <div class="row pt-5">

        <div class="col-md-6 pt-5 text-left">

            <h1 style="font-family: 'Poppins',sans-serif; color: black pt-5">Expert Doctors</h1>

        </div>

    </div>
    <div class="container">
    <div class="row pt-5">
{% for y in doc %}
        <div class="col-md-3">

            <div class="card " style="width: 15rem;">
                <div class="inner">
                    <img src="{{y.profile_image.url}}" height="225px" alt="..."
                        class="alignleft size-medium wp-image-7000 card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'nav_doc_profile' doc_id=y.id %}" style="color:black" class="text-decoration-none"><b>
                            <center>{{y.name}}</center>
                        </b></a></h5>
                    <p class="card-text text-secondary text-center">{{y.specialization}}</p>

                </div>
            </div>

        </div>

        {% endfor %}

        <!-- <div class="col-md-3">

            <div class="card" style="width: 15rem;">
                <div class="inner">
                    <img src="{%static 'pic/card.jpg' %}" height="225px" alt="..." class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>
                            <center>Dr. Stefen Cyrus</center>
                        </b></h5>
                    <p class="card-text text-secondary text-center">Neurologist</p>

                </div>
            </div>

        </div>



        <div class="col-md-3">

            <div class="card" style="width: 15rem;">
                <div class="inner">
                    <img src="{%static 'pic/card.jpg' %}" height="225px" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>
                            <center>Dr.Stefen Cyrus</center>
                        </b></h5>
                    <p class="card-text text-secondary text-center">Neurologist</p>

                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card" style="width: 15rem;">
                <div class="inner">
                    <img src="{%static "pic/card.jpg" %}" height="225px" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>
                            <center>Dr.Stefen Cyrus</center>
                        </b></h5>
                    <p class="card-text text-secondary text-center">Neurologist</p>

                </div>
            </div>

        </div> -->

    </div>
    </div>
</div>



<div class="row pt-5">

    <div class="col-md-6 p-0" style="background-image: url({%static 'pic/foot.jpg' %}); font-family: 'Poppins' ,
        sans-serif; background-repeat: no-repeat;background-size: cover;text-align: left;">
        <div style="background-color:  rgba(93,178,255,0.75);padding-bottom: 75px;padding-top:90px;text-align: center ">
            <div class="row">
                <div class="col-md-7">
                    <h4 style="line-height: 20px; color: white">For Any Emergency Contact.<br /></h4>
                    <p style="color: white">Esteem spirit temper too say adieus.</p>
                </div>
                <div class="col-md-5">
                    <input type="submit" class="btn bbs btn-outline-light btn-md rounded-pill " name="save"
                        value="+301(66473890)"
                        style="font-family: 'Poppins', sans-serif;padding-left: 20px;padding-right: 20px">
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-6 p-0" style="background-image: url({%static 'pic/emergency-2.jpg' %});font-family: 'Poppins' ,
        sans-serif; background-size: cover;text-align: left">

        <div
            style="background-color:  rgba(93,178,255,0.75);display: flex;align-items: center;justify-content: space-between;height:100%;padding:2em;">


            <div class="">
                <h4 class='m-0' style="line-height:; color: white">Make an Online Appointment.<br/></h4>
                <p style="color: white" class="text-left m-0 d-block">Esteem spirit temper too say adieus.</p>
            </div>
            <div class="">
                <a href="{% url 'login' %}" class="btn bbs btn-outline-light btn-md " name="save" value=""
                style="font-family: 'Poppins', sans-serif">Make an Appointment</a> </div>


        </div>

    </div>
</div>
</div>







<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script>
    $(document).ready(function () {
        $("#testimonial-slider").owlCarousel({
            items: 1,
            itemsDesktop: [800, 2],
            itemsDesktopSmall: [990, 1],
            itemsTablet: [768, 1],
            pagination: true,
            navigation: false,
            navigationText: ["", ""],
            slideSpeed: 1000,
            autoPlay: true
        });
    });
</script>
 <script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
 


<!--<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image: url(img/ind.png)">
        <h1><b><p>Health Care</p></b></h1>
      <h1><p>For Your Fmaily</p></h1>
      <p class="text-secondary">In Healthcare Sector, service excellence is the facility of the hospital as healthcare service provider to consistently</p>
      
         <input type="submit" class="btn btn-outline-light btn-md " name="save" value="Check our Services" style="background-color: #009DFF;font-family: 'Poppins', sans-serif">
       
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>   -->


{% endblock %}